 /* ---Font-face ---*/

@font-face {
    font-family: 'Montserrat-400';
    src: url('../fonts/Montserrat-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Montserrat-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Montserrat-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Montserrat-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Montserrat-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Montserrat-700';
    src: url('../fonts/Montserrat-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Montserrat-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Montserrat-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Montserrat-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Montserrat-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

            /* ---Specification ---*/

.container{
    width: 1060px;
}
section{
    min-height: calc(100vh - 117px);
}
body{
    margin: 0;
    padding: 0;
    position: relative;
}
h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}
a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}
p{
    padding: 0;
    margin: 0;
}
div, p, form, input, a, span, button{
    box-sizing: border-box;
}
.border__bottom{
    display: none;
}
.plan__inner-left{
    display: none;
}
.plan__text-none{
    display: none;
}
.plan__details{
    display: none;
}
.plan__min-box{
    display: none;
}
.form__mobile-block{
    display: none;
}
/*--Модальные окна-- */
.plan__modal_base, .plan__modal_optimal, .plan__modal_inclusive{
    display: none;
}

            /* ---HEADER ---*/

.header{
    background: url('../img/header_bg.png');
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('../img/header_bg.png');
    padding-bottom: 30px;
    color: #fff;
    border-bottom: 5px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header__border{
    width: 100%;
    bottom: 0;
    position: absolute;
}
.header__apartment_box{
    padding: 13px 0 13px;
}
.header__ellipse{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__img{
    max-width: 40px;
}
.header__logo{
    padding: 68px 0 12px;
}
.header__logo-text{
    text-align: center;
    font-size: 24px;
    font-family: 'Montserrat-400';
    margin-top: 17px;
}
.header__title{
    text-transform: uppercase;
    font-size: 32px;
    font-family: 'Montserrat-700';
    text-align: center;
    margin-top: 36px;
}

            /* ---MAIN ---*/

.main{
    color: #1F1E2C;
    font-family: 'Montserrat-700';
    padding: 26px 0 45px;
    position: relative;
    z-index: 1;
}
.main:before {
    content: "";
    position: absolute;
    background: url('../img/main_bg.png') no-repeat center top / cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    z-index: -1;
  }
.main__top_logo{
    width: 43px;
    display: block;
    margin: 0 auto 23px;
}
.main__top_title{
    font-family: 'Montserrat-700';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #222;
    max-width: 323px;
    margin: 0 auto 23px;
}
.main__top_text{
    font-family: 'Montserrat-400';
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #222222;
    margin-bottom: 17px;
}
.main__top_bold{
    font-family: 'Montserrat-700';
}
.main__top_link{
    margin: 10px auto 38px;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    color: #D41F7E;
    padding: 12px 0;
    text-align: center;
    background: #fff;
    border: 1px solid #D41F7E;
    border-radius: 74px;
    max-width: 230px;
}
.main__top_link:hover{
    color: #fff;
    background: #D41F7E;
    transition: all 0.3s ease-out; 
}
.main__title-none{
    margin: 30px 0 33px;
    font-size: 15px;
    font-family: 'Montserrat-700';
    text-transform: uppercase;
    color: #1F1E2C;
    text-align: center;
    margin-top: 0;
    margin-bottom: 17px;
}
.main__boxis{
    display: flex;
    border: 1px solid #1F1E2C;
}


.main__survey-title{
    font-size: 18px;
    margin-bottom: 12px;
    margin-left: 12px;
}
.main__box{
    text-align: center;
    background: #fff;
    width: 250px;
    border-radius: 10px;
    padding: 37px 0 15px;
    margin-bottom: 15px;
    border: 1px solid #D41F7E;
}
.main__box:hover{
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
}
.main__box:active{
    box-shadow: none;
}
.main__box-text{
    margin-top: 37px;
    text-align: center;
    font-size: 14px;
    color: #1F1E2C;
    font-family: 'Montserrat-400';
}
.main__survey{
    background: #312F3D;
    width: 340px;
    border-radius: 55px;
    padding: 30px 26px 18px;
    margin-left: auto;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}
.main__survey-box{
    align-items: center;
    border-top: 1px solid #454450;
    padding: 21px 0;
}
.main__survey-box:nth-child(2){
    border-top: none;
}
.main__survey-number{
    border: 1px solid #B7B7B7;
    width: 39px;
    height: 39px;
    border-radius: 50px;
    color: #807F86;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}
.main__survey-link{
    color: #807F86;
    font-size: 16px;
}
.main__survey-link:hover{
    color: #CFCFCF;
    transition: all 0.3s ease-out;
}



            /* ---FOOTER ---*/

.footer{
    background: #5E5D6C;
    padding: 21px 0 16px;
    color: #D4D4D4;
    font-size: 14px;
}
.footer__text{
    font-size: 12px;
    font-family: 'Montserrat-700';
}
.footer .fas{
    margin-right: 10px;
    color: #D4D4D4;
}
.footer .fa-envelope{
    font-size: 18px;
}
.footer .fa-phone{
    font-size: 16px;
}
.footer .fa-instagram{
    font-size: 18px;
    color: #D4D4D4;
}


            /* ---PAGE LAYOUT ---*/


.layout{
    background: #fff;
    color: #1F1E2C;
    font-family: 'Montserrat-700';
    padding: 26px 0 83px;
}
.layout__box_top svg{
    padding-top: 30px;
}
.layout svg{
    width: 85%;
}
.main__inner_text{
    margin: 54px 0;
}
.head__top{
    background: #fff;
    padding: 10px 0;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
}
.head__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head__logo{
    display: flex;
}
.head__logo_img{
    width: 35px;
    margin-right: 6px;
}
.head__logo_text{
    color: #454545;
    font-family: 'Montserrat-700';
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.head__logo_link{
    color: #fff;
    font-size: 12px;
    background: #D81D7E;
    border-radius: 19px;
    width: 127px;
    height: 31px;
    display: flex;
    margin-left: 8px;
    justify-content: center;
    align-items: center;
}
.head__logo_link:hover{
    color: #D81D7E;
    background: #FFFFFF;
    border: 1px solid #D81D7E;
    transition: all 0.3s ease-out; 
}
.content_link{
    color: #1F1E2C;
    font-size: 12px;
    border-radius: 24px;
    display: inline-flex;
    font-family: 'Montserrat-400';
    border: 1px solid #6A6A6A;
    background: #fff;
    align-items: center;
    padding: 0 16px;
    height: 37px;
    margin-right: 5px;
}
.content_link:hover{
    background: #fff;
    color: #1F1E2C;
    transition: all 0.3s ease-out; 
}
.layout__link:hover{
    color: #D81D7E;
    background: none;
    border: 1px solid #D81D7E;
    transition: all 0.3s ease-out;
}
.layout__wrapper{
    margin-left: auto;
}
.layout__text{
    font-size: 14px;
    font-family: 'Montserrat-400';
    color: #1F1E2C;
    margin-left: 28px;
    display: flex;
    align-items: center;
}
.layout__upper{
    font-family: 'Montserrat-700';
}
.layout__content{
    margin-bottom: 26px;
    display: flex;
}
.content_title{
    font-size: 24px;
    font-family: 'Montserrat-700';
}
.layout__box{
    padding: 19px 0 15px;
}
.layout__box-text{
    margin-top: 9px;
    margin-bottom: 20px;
}


            /* ---PAGE STYLE ---*/


.style{
    background: #fff;
    color: #1F1E2C;
    font-family: 'Montserrat-700';
    padding: 26px 0 41px;
}
.style__wrapp{
    margin-left: 0;
    margin: 0 auto ;
    max-width: 450px;
}
.style__wrapp_text{
    justify-self: center;
}
.style__link{
    margin-right: 16px;
}
.style__block-flex{
    display: flex;
}
.style__block{
    /* margin-right: 25px; */
}
.style__block a{
    color: #1F1E2C;
}
.style__block a:hover{
    color: #000;
}
.style__content{
    justify-content: space-between;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
}
.style__bg_one{
    background: url('../img/style_loft.png') no-repeat center center / cover;
}
.style__bg_two{
    background: url('../img/style__classic.png') no-repeat center center / cover;
}
.style__bg_three{
    background: url('../img/style__modern.png') no-repeat center center / cover;
}
.style__bg_four{
    background: url('../img/style_last.png') no-repeat center center / cover;
}
.style__box{
    width: 202px;
    height: 242px;
    border-radius: 10px;
    border: 1px solid rgba(31, 30, 44, 0.5);
}
.style__box-text{
    text-align: center;
    font-size: 16px;
    font-family: 'Montserrat-400';
    margin-top: 18px;
}


            /* ---PAGE STYLE ---*/


.tone{
    background: #fff;
    color: #1F1E2C;
    font-family: 'Montserrat-700';
    padding: 26px 0 41px;
}
.tone__bg-bright{
    background: url('../img/tone_bright.png') no-repeat center center / cover;
}
.tone__bg-light{
    background: url('../img/tone_light.png') no-repeat center center / cover;
}
.tone__bg-dark{
    background: url('../img/tone_dark.png') no-repeat center center / cover;
}


            /* ---PAGE KITCHEN ---*/


.kitchen{
    background: #fff;
    color: #1F1E2C;
    font-family: 'Montserrat-700';
    padding: 26px 0 41px;
}
.kitchen__bg-bright{
    background: url('../img/kitchen_corner.png') no-repeat center center / cover;
}
.kitchen__bg-corner{
    background: url('../img/kitchen_direct.png') no-repeat center center / cover;
}
input[type="radio"]:checked, 
input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
input[type="radio"]:checked + label, 
input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 41px;
    line-height: 29px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Montserrat-400';
    margin-bottom: 11px;
}
input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 28px;
    height: 28px;
    border: 1px solid #6A6A6A;
    background-color: #fff;
}
input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    border-radius: 100%;
}
input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    left: 5px;
    top: 5px;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: #DB1F7B;
}
input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}
input[type="radio"]:checked + label:after {
    opacity: 1;
}
.kitchen__wrapper{
    margin-top: 10px;
}
.kitchen__title{
    font-size: 16px;
    font-family: 'Montserrat-700';
    margin-bottom: 12px;
}
.kitchen__checkbox{
    margin-bottom: 29px;
}
.kitchen__wrapp_link{
    display: block;
    text-align: center;
    border: 1px solid #6A6A6A;
    border-radius: 24px;
    padding: 12px 0;
    width: 100%;
    max-width: 160px;
    font-size: 14px;
    color: #1F1E2C;
    font-family: 'Montserrat-400';
}
.kitchen__margin{
    margin-right: 13px;
}
.kitchen__wrapp_link:hover{
    color: #fff;
    background: #DB1F7B;
    transition: all 0.3s ease-out;
    border: 1px solid #DB1F7B;
}
.kitchen__title{
    text-align: center;
}
.kitchen__wrapp_links {
    justify-content: center;
}
.kitchen__title-inner{
    text-align: center;
}


            /* ---PAGE KITCHEN ---*/


.homestay{
    background: #fff;
    color: #1F1E2C;
    font-family: 'Montserrat-700';
    padding: 26px 0 41px;
    
}
.homestay__link{
    font-family: 'Montserrat-400';
    font-size: 14px;
    color: #1F1E2C;
    background: #fff;
    padding: 12px 0;
    border-radius: 55px;
    display: inline-flex;
    justify-content: center;
    width: 154px;
    border: 1px solid #1F1E2C;
}
.homestay__link_margin{
    margin: 0 7px;
}
.homestay__title{
    text-align: center;
}
.homestay__content{
    margin-top: 35px;
}
.homestay__link:hover{
    background: #D41F7E;
    color: #fff;
    transition: all 0.3s ease-out;
    border: 1px solid #D41F7E;
}
.homestay__link:focus{
    box-shadow: none;
}
.homestay__number{
    justify-content: space-between;
    margin-bottom: 56px;
}
.homestay__age-block{
    display: flex;
    justify-content: space-between;
}
.homestay__age-title{
    font-size: 16px;
    font-family: 'Montserrat-700';
    margin-bottom: 20px;
}
.homestay__change{
    margin-bottom: 23px;
}


            /* ---PAGE PLAN ---*/


.plan{
    background: #fff;
    color: #1F1E2C;
    font-family: 'Montserrat-700';
    padding: 26px 0 41px;
}
.plan__back{
    font-size: 12px;
    font-family: 'Montserrat-400';
    color: #1F1E2C;
    padding: 11px 0;
    display: flex;
    justify-content: center;
    width: 171px;
    border: 1px solid #6A6A6A;
    border-radius: 24px;
}
.plan__back:hover{
    color: #312F3D;
    transition: all 0.3s ease-out;
}
.plan__content{
    font-size: 24px;
    font-family: 'Montserrat-700';
    color: #1F1E2C;
    text-align: center;
    margin: 25px 0 13px;
}
.plan__title{
    font-size: 18px;
    font-family: 'Montserrat-700';
    margin-top: 12px;
    line-height: 1.25em;
    color: #1F1E2C;
}
.plan__text{
    color: #1F1E2C;
    font-size: 13px;
    font-family: 'Montserrat-400';
}
.plan__text-bold{
    font-family: 'Montserrat-700';
}
.plan__wrapper{
    background: #fff;
    border-radius: 24px;
    padding: 12px 23px 12px;
    max-width: 337px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #6A6A6A;
}
.plan__wrapper:hover ~ .plan__link {
    box-shadow: none;
    color: #CFCFCF;
    background: #D41F7E;
    transition: all 0.3s ease-out;
    border: 1px solid #D41F7E;
}
.plan__wrapper:hover {
    border: 1px solid #D41F7E;
    transition: all 0.3s ease-out;
}
 .plan__link {
     color: #1F1E2C;
     font-size: 14px;
     font-family: 'Montserrat-700';
     padding: 15px 0;
     width: 134px;
     background: #fff;
     border-radius: 55px;
     display: flex;
     justify-content: center;
     border: 1px solid #1F1E2C;
     margin: 26px auto 0;
 }
.plan__link:hover{
    background: #D41F7E;
    border: 1px solid #D41F7E;
    color: #CFCFCF;
    transition: all 0.3s ease-out;
}
.plan__wrapper-green p{
    margin-bottom: auto;
}
.plan__wrapper-green span{
    color: #2CA59A;
    padding-bottom: 10px;
    border-bottom: 1px solid #2CA59A;
}
.plan__wrapper-red p{
    margin-bottom: auto;
}
.plan__wrapper-red span{
    color: #EB535C;
    padding-bottom: 10px;
    border-bottom: 1px solid #EB535C;
}
.plan__wrapper-pink p{
    margin-bottom: auto;
}
.plan__wrapper-pink span{
    color: #F146A0;
    padding-bottom: 10px;
    border-bottom: 1px solid #F146A0;
}
.plan__amount{
    font-size: 24px;
    font-family: 'Montserrat-700';
    display: flex;
    justify-content: center;
}
.plan__amount_decor{
    color: #A8A8A8;
    font-size: 14px;
    margin-left: 12px;
    margin-top: 4px;
    position: relative;
}
.plan__amount_decor:before {
	content: "";
	border-bottom: 1px solid #F64C4C;
	position: absolute;
	width: 100%;
	height: 28%;
    transform: rotate(-9deg);
}


            /* ---PAGE KITCHEN__SIZE ---*/


.apartment{
    background: #fff;
    color: #1F1E2C;
    font-family: 'Montserrat-700';
    padding: 26px 0 41px;
}
.apartment__title-upper{
    font-size: 14px;
    text-transform: uppercase;
    margin: 25px 0 16px;
}
.apartment__wrap{
    max-width: 350px;
    margin: 0 auto;
}
.apartment__wrapper input{ 
    width: 124px;
    height: 43px;
    font-size: 14px;
    color: #1F1E2C;
    font-family: 'Montserrat-700';
    border-radius: 5px;
    background: #fff;
    border: 1px solid #1F1E2C;
    padding: 7px 14px;
}
.apartment__wrapper input:focus{
    border: 2px solid #D41F7E;
    outline:none;
}
.apartment__area{
    display: flex;
    align-items: center;
}
.apartment__height{
    display: flex;
    align-items: center;
}
.apartment__meters{
    font-size: 14px;
    color: #1F1E2C;
    font-family: 'Montserrat-400';
    margin-left: 11px;
    position: relative;
}
.apartment__span{
    display: block;
    position: absolute;
    top: -1px;
    right: -7px;
    font-size: 9px;
}
.apartment__wrapper-all{
    justify-content: space-between;
}
.apartment__text{
    font-size: 14px;
    font-family: 'Montserrat-400';
    color: #1F1E2C;
    margin-bottom: 9px;
}
.apartment__link-all{
    display: flex;
    justify-content: space-between;
    margin: 90px 0 270px;
}
.apartment__link{
    font-size: 14px;
    font-family: 'Montserrat-400';
    color: #1F1E2C;
    background: #fff;
    border: 1px solid #1F1E2C;
    width: 158px;
    display: flex;
    justify-content: center;
    height: 47px;
    align-items: center;
    border-radius: 55px;
}
.apartment__link:hover{
    border: 1px solid #D41F7E;
    color: #CFCFCF;
    background: #D41F7E;
    transition: all 0.4s;
    font-family: 'Montserrat-700';
}
.apartment__warning{
    width: 250px;
    height: 242px;
    background: #fff;
    border-radius: 10px;
    padding: 15px 20px 30px;
    position: relative;
    margin-top: 20px;
}
.apartment__warning-bold{
    font-size: 14px;
    color: #222222;
    font-family: 'Montserrat-700';
    line-height: 1.3em;
    margin: 4px 0 4px;
}
.apartment__footnote{
    color: #D41F7E;
    font-size: 14px;
    font-family: 'Montserrat-400';
    margin-top: 13px;
}
.apartment__warning-thin{
    font-size: 14px;
    color: #222222;
    font-family: 'Montserrat-400';
    line-height: 1.3em;
    margin-left: 36px;
}
.apartment__warning svg{
    display: block;
    margin: 0 auto;
}
.apartment__warning{
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 13px;
    opacity: 0.9;
}
.apartment__test{
    display: flex;
}
.apartment__test svg{
    margin-left: 0;
    margin-right: 8px;
}
.apartment__close {
    position: absolute;
    right: 4px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.apartment__close:hover {
    opacity: 1;
}
.apartment__close:before, .apartment__close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 14px;
    width: 2px;
    background-color: #333;
    }
.apartment__close:before {
    transform: rotate(45deg);
    }
.apartment__close:after {
    transform: rotate(-45deg);
}


            /* ---PAGE AREA ---*/


.area{
    background: #fff;
    color: #1F1E2C;
    font-family: 'Montserrat-700';
    padding: 36px 0 73px;
}
.nice-select{
    margin: 0 auto;
    max-width: 410px;
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0);
}
.area__question{
    margin: -15px 0;
}
.area__question label{
    font-family: 'Montserrat-700';
}
select{
    display: none;
}
.current{
    color: #989898;
}
.area__kitchen-title{
    text-transform: uppercase;
    font-family: 'Montserrat-700';
    font-size: 14px;
    color: #1F1E2C;
    width: 100%;
    max-width: 410px;
    margin: 18px auto 13px;
}
.area__kitchen-text{
    font-size: 14px;
    color: #1F1E2C;
    font-family: 'Montserrat-700';
}
.area__kitchen-min input{
    width: 52px;
    padding-left: 20px;
    padding-right: 0;
}
.area__kitchen-min{
    width: 100%;
    max-width: 410px;
    margin: 0 auto;
}
.area__kitchen-for{
    margin-bottom: 46px;
    justify-content: space-between;
}
.area__kitchen-size{
    margin-left: 4px;
    margin-right: 16px;
}
.area__kitchen_box input{
    max-width: 145px;
    width: 100%;
}
.area__checkbox-title{
    font-size: 14px;
    font-family: 'Montserrat-700';
    color: #1F1E2C;
}
.area__inner-bottom{
    display: flex;
}
.area__wrapper-checkbox label{
    margin-right: 13px;
}
.area__checkbox{
    max-width: 410px;
    margin: 0 auto 23px;
}
.area__kitchen-left{
    margin: 0 22px 0 0;
}
.area__kitchen-wrap{
    margin-top: 18px;
}
.area__checkbox-bottom{
    margin-top: 21px;
}
.area__checkbox-top{
    margin-top: 25px;
}
.area__inner-bottom{
    margin-top: 25px;
}
.area__inner-block{
    display: flex;
    width: 100%;
    max-width: 410px;
}
.area__inner{
    width: 100%;
    max-width: 410px;
    margin: 0 auto;
}
.aria__link-all{
    width: 100%;
    max-width: 410px;
    margin: 0 auto;
}

            /* ---PAGE ROOM ---*/


.room{
    background: #fff;
    color: #1F1E2C;
    font-family: 'Montserrat-700';
    padding: 36px 0 73px;
}
.room__link_top{
    margin: 22px auto 0;
}


            /* ---PAGE CONVENIENCE ---*/


.convenience{
    background: #fff;
    color: #1F1E2C;
    font-family: 'Montserrat-700';
    padding: 36px 0 108px;
}
.convenience__wrapper{
    margin-bottom: 35px;
}
.convenience__box{
    margin-right: 20px;
}
.convenience__title{
    font-size: 14px;
    color: #1F1E2C;
    font-family: 'Montserrat-700';
    margin-top: 0;
    text-transform: none;
}
.convenience__block{
    margin-top: 7px;
    display: flex;
}
.convenience__radio{
    margin-right: 52px;
}
.convenience__link-all{
    margin-left: 97px;
    display: flex;
}
.convenience__link{
    width: 260px;
    margin-right: 41px;
}
.convenience__link-right{
    width: 193px;
}
.conveniense__width{
    margin: 0 auto;
    max-width: 410px;
}
.conveniense__top{
    margin-top: 22px;
    margin-bottom: 9px;
}


           /* ---PAGE CRAPPER ---*/


.crapper{
    background: #fff;
    color: #1F1E2C;
    font-family: 'Montserrat-700';
    padding: 36px 0 108px;
}
.crapper__top{
    margin-top: 38px;
}
.crapper__bottom{
    margin-bottom: 38px;
}
.crapper__bt{
    margin-bottom: 17px;
    width: 100%;
}
.crapper__block-left{
    margin-bottom: 18px;
}
.crapper__block{
    display: block;
}


           /* ---PAGE CRAPPER ---*/


.form{
    background: #fff;
    color: #1F1E2C;
    font-family: 'Montserrat-700';
    padding: 36px 0 170px;
}
.form__title{
    font-size: 24px;
    font-family: 'Montserrat-700';
    margin: 55px 0 32px;
}
#fileid, #design {
    display:none;
}
.form__label {
    width: 100%;
    height: 43px;
    border-radius: 48px;
    text-align: center;
    background: #fff;
    border: 1px solid #1F1E2C;
    cursor:pointer;
    font-size: 14px;
    color: #1F1E2C;
    font-family: 'Montserrat-400';
    display: flex;
    justify-content: center;
    align-items: center;
}
.form__text_inner{
    margin-right: 9px;
}
.form__text_color{
    color: #D41F7E;
    font-family: 'Montserrat-700';
}
.form__inner input{
    max-width: 385px;
    width: 385px;
    height: 43px;
    outline: none;
    border: none;
    padding: 7px 20px;
    font-size: 15px;
    font-family: 'Montserrat-400';
    border-radius: 5px;
    background: #fff;
    border: 1px solid #1F1E2C;
}
.form__inner label{
    margin-bottom: 0;
    font-size: 16px;
    font-family: 'Montserrat-400';
}
.form__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
}
.form__text{
    margin-top: 25px;
    font-size: 16px;
    font-family: 'Montserrat-400';
    margin-left: 117px;
    width: 290px;
}
.form__inner button{
    margin-left: auto;
    margin-top: 25px;
}
.form__button{
    font-size: 14px;
    color: #fff;
    font-family: 'Montserrat-700';
    width: 176px;
    height: 47px;
    background: #D41F7E;
    display: flex;
    justify-content: center;
    border-radius: 55px;
}
.form__button:hover{
    background: #fff;
    border: 1px solid #1F1E2C;
    transition: all 0.3s ease-out;
    color: #1F1E2C;
}
.form__button:focus{
    border: none;
    box-shadow: none;
}
.form__order{
    width: 152px;
    margin-right: 23px;
}
.form__order-link{
    color: #1F1E2C;
    font-size: 16px;
    font-family: 'Montserrat-400';
    display: block;
    margin-bottom: 3px;
}
.form__order-link:hover{
    text-decoration: underline;
    color: #CFCFCF;
}
.form__order-text{
    margin-bottom: 3px;
    color: #1F1E2C;
    font-size: 16px;
    font-family: 'Montserrat-700';
}
.form__order-wrapper{
    width: 152px;
}
.form__order-bottom{
    margin-bottom: 26px;
}


           /* ---PAGE THANKS ---*/


.thanks{
    background: #fff;
    color: #1F1E2C;
    font-family: 'Montserrat-700';
    padding: 67px 0 322px;
}
.thanks__title{
    font-size: 24px;
    text-align: center;
    font-family: 'Montserrat-700';
    margin-bottom: 47px;
}
.thanks__text{
    font-size: 16px;
    font-family: 'Montserrat-400';
    max-width: 520px;
    margin: 0 auto;
    margin-bottom: 47px;
}
.thanks__text_bold{
    font-family: 'Montserrat-700';
}
.thanks__link{
    font-size: 14px;
    width: 196px;
    background: #D41F7E;
    border-radius: 55px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    margin: 0 auto;
    border: 1px solid #D41F7E;
}
.thanks__link:hover{
    background: #fff;
    transition: all 0.3s ease-out;
    color: #1F1E2C;
    border: 1px solid #1F1E2C;
}
.thanks__link:focus{
    box-shadow: none;
}


           /* ---PAGE PAYMENT ---*/


.payment{
    background: #fff;
    color: #1F1E2C;
    font-family: 'Montserrat-700';
    padding: 79px 0 314px;
}
.payment__link{
    background: #00A29B;
    border: 1px solid #00A29B;
}
 .payment__link:hover{
     background: #fff;
     border: 1px solid #1F1E2C;
 }
 .payment__link_back{
    display: flex;
    justify-content: center;
    color: #00A1E3;
    border: 1px solid #fff;
    font-size: 14px;
    font-family: 'Montserrat-700';
    margin: 26px auto 0;
    padding: 15px 0;
    border-radius: 55px;
}
.payment__link_back:hover{
    border: 1px solid #D41F7E;
    width: 196px;
    color: #fff;
    background: #D41F7E;
    transition: all 0.3s ease-out;
}
.payment__bold{
    font-family: 'Montserrat-700';
}

           /* ---PAGE FEEDBACK---*/


.feedback{
    background: #fff;
    color: #1F1E2C;
    font-family: 'Montserrat-700';
    padding: 38px 0 191px;
}
.feedback__header{
    height: 117px;
}
.feedback__title{
    margin: 0 0 17px;
}
.feedback__text{
    font-size: 14px;
    line-height: 17px;
    font-family: 'Montserrat-400';
}
.feedback__inner{
    margin-top: 44px;
}
.feedback__button{
    margin-top: 28px;
}
.area__kitchen_top{
    margin-top: -16px;
}

        /* Example */


.example__header{
    background:#fff;
    padding-bottom: 0;
}
.example{
    padding-top: 70px;
    padding-bottom: 121px;
}
.example__block{
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}
.example__block a{
    height: 47px;
    border-radius: 24px;
    color: #1F1E2C;
    font-size: 14px;
    font-family: 'Montserrat-400';
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 350px;
}
.example__inner_green{
    border: 1px solid #2CA59A;
}
.example__inner_red{
    border: 1px solid #EB535C;
}
.example__inner_pink{
    border: 1px solid #D81D7E;
}
.example__inner_green:hover{
    background: #2CA59A;
    color: #fff;
    transition: all 0.3s ease-out; 
}
.example__inner_red:hover{
    background: #EB535C;
    color: #fff;
    transition: all 0.3s ease-out; 
}
.example__inner_pink:hover{
    background: #D81D7E;
    color: #fff;
    transition: all 0.3s ease-out; 
}
.example__inner_bold{
    font-family: 'Montserrat-700';
}
.example__inner_thin{
    color: #A8A8A8;
    text-decoration: line-through;
}
.example__wrapper{
    margin-bottom: 46px;
}
.example__wrapper a{
    margin-bottom: 14px;
}
.example__all_links a{
    margin-bottom: 16px;
}

            /* bathroom */

.bathroom__bg_bright{
    background: url('../img/bathroom__left.png') no-repeat center center / cover;
}
.bathroom__bg_corner{
    background: url('../img/bathroom__right.png') no-repeat center center / cover;
}

        /* base__project */

.base__pr_title{
    text-transform: uppercase;
    font-size: 18px;
    color: #1F1E2C;
    font-family: 'Montserrat-700';
    margin: 40px 0 -15px;
}
.base__pr_offer{
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
    font-family: 'Montserrat-700';
    margin-bottom: 14px;
}
.base__pr_text{
    font-size: 14px;
    color: #000;
    font-family: 'Montserrat-400';
    line-height: 17px;
}
.base__pr_span{
    display: block;
    text-align: center;
    margin: -17px 0 22px;
    font-style: Italic;
}
.base__pr_wrap{
    max-width: 370px;
}
.base__pr_image{
    max-width: 275px;
    width: 61%;
    display: block;
    margin: 22px auto;
}
.design__label{
    max-width: 333px;
    margin: 66px auto;
    color: #fff;
    font-size: 14px;
    font-family: 'Montserrat-700';
    background: #D41F7E;
    border: 1px solid #D41F7E;
}
.design__label:hover{
    color: #D41F7E;
    background: #fff;
    border: 1px solid #D41F7E;
    transition: all 0.3s ease-out;
}
.base__pr_flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 370px;
    justify-content: space-between;
    margin-top: 15px;
}
.base__pr_img{
    max-width: 175px;
    width: 47%;
    margin-bottom: 20px;
    max-height: 190px;
}
.base__max_img{
    width: 100%;
}
.base__pr_description{
    color: #000;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Montserrat-700';
    margin-top: 23px;
}

            /* why__we */

.why__we_title{
    text-transform: uppercase;
    color: #1F1E2C;
    font-size: 18px;
    margin: 43px 0 26px;
    font-family: 'Montserrat-700';
}
.why__we_text{
    color: #555;
    font-size: 14px;
    font-family: 'Montserrat-400';
    line-height: 17px;
    margin-bottom: 17px;
}
.why__we_bold{
    font-family: 'Montserrat-700';
    color: #000;
    margin-top: 27px;
}
.why__we_link{
    margin: 45px auto 28px;
}
.faq__bold{
    margin-bottom: 0;
}
.faq__wrapper{
    max-width: 510px;
    margin: 0 auto;
}
.faq__bold{
    max-width: 510px;
    margin: 27px auto 0;
}
.faq__link{
    margin-top: 72px;
}

        /* answer */

.answer__inner{
    display: flex;
    justify-content: space-between;
}
.answer__wrapper_color{
    color: #000;
    margin-top: 27px;
}
.answer__wrapper_image1{
    background: url('../img/answer_1.png') no-repeat center center / cover;
    width: 100%;
    max-width: 340px;
    height: 190px;
    display: block;
    margin: 0 auto 30px;
}
.answer__wrapper_image2{
    background: url('../img/answer_2.png') no-repeat center center / cover;
    width: 100%;
    max-width: 340px;
    height: 190px;
    display: block;
    margin: 0 auto 30px;
}
.answer__wrapper_top{
    margin-top: 30px;
}
.answer__top{
    margin-top: 39px;
}